<% if @pet.errors.any? %>
  <% @pet.errors.full_messages.each do |message| %>
  <ul>
    <li><%= message %></li>
  </ul>
  <% end %>
<% end %>

<h1>Edit Pet</h1>

<%= form_for @pet do |f| %>
  <%= f.label :kind_id %>
  <%= collection_select(:pet, :kind_id, @kind_options, :id, :description) %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :birthdate %>
  <%= f.date_field :birthdate %>

  <%= f.label :breed %>
  <%= f.text_field :breed %>
  
  <%= f.submit 'Update Pet' %>

<% end %>