<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<h1>Listando PETS</h1>

  <table>
    <thead>
      <tr>
        <th><%= @pets.human_attribute_name("id") %></th>
        <th><%= @pets.human_attribute_name("kind") %></th>
        <th><%= @pets.human_attribute_name("name") %></th>
        <th><%= @pets.human_attribute_name("birthdate") %></th>
        <th><%= @pets.human_attribute_name("breed") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th><%= @pets.human_attribute_name("id") %></th>
        <th><%= @pets.human_attribute_name("kind") %></th>
        <th><%= @pets.human_attribute_name("name") %></th>
        <th><%= @pets.human_attribute_name("birthdate") %></th>
        <th><%= @pets.human_attribute_name("breed") %></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.id %></td>
        <th><%= pet.kind.description %></th>
        <td><%= pet.name %></td>
        <td><%= pet.birthdate %></td>
        <td><%= pet.breed %></td>
        <td><%= link_to "Show", pet_path(pet) %></td>
        <td><%= link_to "Edit", edit_pet_path(pet) %></td>
        <td><%= link_to "Delete", pet, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tr>
  </tbody>
</table>
<ul>
<li><%= link_to 'New Pet', new_pet_path %></li>
</ul>