<% if @mrecord.errors.any? %>
  <% @mrecord.errors.full_messages.each do |message| %>
  <ul>
    <li><%= message %></li>
  </ul>
  <% end %>
<% end %>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Prontuário Registering:<small>Novo Prontuário</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <%= form_for @mrecord do |f| %>
        <div class="item form-group">
            <%= f.label :pet_id, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
            <%= f.text_field :pet_name, class:"form-control" %>
            </div>
          </div>
          <div class="item form-group">
            <%= f.label :patient_symptoms, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
            <%= f.text_field :patient_symptoms, class:"form-control" %>
            </div>
          </div>
          
          <div class="item form-group">
            <%= f.label :applied_treatment, class:"col-form-label col-md-3 col-sm-3 label-align" %>
            <div class="col-md-6 col-sm-6 ">
              <%= f.text_field :applied_treatment, class:"form-control" %>
            </div>
          </div>
          
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button class="btn btn-primary" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
